.nocontent-wrapper {
  /* display: flex;
    text-align: center;
    vertical-align: middle;
    position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 662px;
  flex-grow: 1;
}

.nocontent {
  max-width: 210px;
  max-height: 160px;
  font-family: 'Inter';
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); */
}

@media (max-width: 650px) {
  .nocontent {
    max-width: 230px;
    max-height: 170px;
    /* top: 50%;
        left: 50%;
        transform: translateY(-75%) translateX(-50%); */
  }
}

.imagecontent {
}

.imagecontent__img {
  width: 64.17px;
  height: 64.17px;
}

.central-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #808080;
  text-align: center;
}
