.header {
  box-sizing: border-box;
  height: 72px;
  background-color: #0064eb;
  padding: 16px 41px;
}

.header__content {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0px 22px 0px 0px;
}
